* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}
h1, h2 {
  font-size: 1.5em;
  line-height: 1.25em;
  padding-bottom: 10px;
}
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  padding: 10px;
  background-color: #fff;
  border: 2px solid;
  border-radius: 5px;
  border-color: #aaa;
  max-width: 470px;
  max-height: 320px;
  margin-bottom: 10px;
  overflow-y: auto;
  overflow-wrap: break-word;
  overflow-x: wrap;
}
.card--first {
  order: -1
}
img {
  width: 150px;
  padding-right: 20px;
}
ul {
  display: flex;
  list-style-type: none;
  font-weight: bold;
}
li {
  padding-right: 5px;
}
.card > div {
  display: flex;
}
